<html>
    <head></head>
    <body>
        日期：{{year}}/{{month}}/{{day}}<br>
        <form method="POST" action="./">
            你的名字：<input type="text" name="name" required><br>
            地點：<input type="text" name="place"required><br>
            時段：<br>
            &nbsp;&nbsp;&nbsp;&nbsp;開始：<input type="time" name="starttime" required><br>
            &nbsp;&nbsp;&nbsp;&nbsp;結束：<input type="time" name="endtime" required><br>
            <button>確認預約</button>
        </form>
    </body>
</html>